
# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

.history
node_modules
bower_components
dist

*.sublime*

psd
thumb
sketch
.env
# End of https://www.toptal.com/developers/gitignore/api/react
public/bundle.js
