*{
 box-sizing: border-box;
}
html{
  background: #1e1f26;
  color: white;
  font-family: sans-serif;
}
.App {
  margin: 1px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  padding: 16px;
}
